<% layout("/layouts/boilerplate") %>
<body>
    <form action="/edit_listing/<%=find_listing_by_id._id%>?_method=PUT" method="POST">
        <h1>Edit Listing</h1>
        <br>
        <input name="title" value="<%=find_listing_by_id.title%>" type="text">
        <br><br>
        <textarea name="description"><%=find_listing_by_id.description%></textarea>
        <br><br>
        <input name="image" value="<%=find_listing_by_id.image%>" type="text">
        <br><br>
        <input type="number" value="<%=find_listing_by_id.price%>" name="price">
        <br><br>
        <input type="text" value="<%=find_listing_by_id.location%>" name="location">
        <br><br>
        <input type="text" value="<%=find_listing_by_id.country%>" name="country">
        <br><br>
        <button>Add</button>
    </form>
</body>